.auth {
  display: flex;
  align-items: center;
  
  .login {
    display: flex;
  }
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #d5d5d5;
    overflow: hidden;
  }
  .btn {
    position: relative;
    padding: 0 18px 0 15px;
    min-width: auto;

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      right: 3px;
      display: inline-block;
      border: 5px solid transparent;
      border-top: 5px solid #757575;
      border-bottom: 0 none;
    }
    &:hover::before {
      border-top: 5px solid #3f51b5;
    } 
    ::ng-deep .mat-button-focus-overlay {
      opacity: 0;
      background: none;
    }
    ::ng-deep .mat-button-ripple.mat-ripple {
      border-radius: 50%;
      left: 15px;
      right: 18px;
    }
  }
  
  img {
    width: 100%;
  }
}
p.user__name {
  padding: 15px 10px;
  margin: 0;
}
button.mat-menu-item {
  text-align: center;
}
.btn__block {
  display: flex;
  .btn__icon {
    max-width: 20px;
    height: auto;
    margin-left: 10px;
  }
}
