<div class="auth">
  <div class="login"
    *ngIf="!authService.userData">
    <button mat-button
      class="btn btn__login"
      [matMenuTriggerFor]="menu"
      title="{{ 'auth.login' | translate }}">
      <div class="avatar">
        <img src="assets/images/default_avatar.svg" alt="user">
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
      (click)="loginWithGoogle()">
        <div class="btn__block">
          <span class="btn__text">{{ 'auth.login.with' | translate }}</span>
          <img  class="btn__icon" src="assets/images/google.svg" alt="Google">
        </div>
      </button>
      <button mat-menu-item
      (click)="loginWithFacebook()">
        <div class="btn__block">
          <span class="btn__text">{{ 'auth.login.with' | translate }}</span>
          <img class="btn__icon" src="assets/images/facebook.svg" alt="Facebook">
        </div>
      </button>
    </mat-menu>
  </div>
  <div class="account"
    *ngIf="authService.userData">
    <button mat-button
      class="btn btn__logout"
      [matMenuTriggerFor]="menu">
      <div class="avatar">
        <img src="{{authService.userPhoto}}" alt="user">
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <p class="user__name">{{authService.userData?.displayName}}</p>
      <button mat-menu-item (click)="logOut()">
        <div class="btn__block">
          <mat-icon color="primary">logout</mat-icon>
          <span class="btn__text">{{ 'auth.logout' | translate }}</span>
        </div>
      </button>
    </mat-menu>
  </div>
</div>

