<div class="teams">
  <div class="teams__actions">
    <button
      mat-mini-fab 
      color="primary" 
      class="btn btn__divide"
      (click)="onDivideTeams(2)"
      title="{{ 'teams.divide.two' | translate}}"
      *ngIf="selectedPlayers.length >= 12 && 
        numberOfTeams === 3">
      II
    </button>
    <button
      mat-mini-fab
      color="primary" 
      class="btn btn__divide"
      (click)="onDivideTeams(3)"
      title="{{ 'teams.divide.three' | translate}}"
      *ngIf="selectedPlayers.length >= 12 && 
        numberOfTeams === 2 || 
        numberOfTeams === 4">
      III
    </button>
    <button
      mat-mini-fab
      color="primary" 
      class="btn btn__divide"
      (click)="onDivideTeams(4)"
      title="{{ 'teams.divide.four' | translate}}"
      *ngIf="selectedPlayers.length >= 16 &&
        numberOfTeams === 2 ||
        numberOfTeams === 3">
      IV
    </button>

    <button
      mat-button 
      color="primary" 
      class="btn btn__clear"
      (click)="deleteAllSelectedPlayers()"
      *ngIf="selectedPlayers && selectedPlayers.length > 0">
      {{ 'teams.clear' | translate}}
    </button>
  </div>
  <div class="message__block">
    <p class="massage massage__first" 
      *ngIf="selectedPlayers.length === 0">
      {{ 'teams.message.first' | translate}}
    </p>
    <p class="massage massage__second" 
      *ngIf="selectedPlayers.length >= 1 && selectedPlayers.length <= 7">
      {{ 'teams.message.second' | translate}}
    </p>
  </div>

  <div class="teams__block {{nameClassTeams}}"
    *ngIf="selectedPlayers.length >= 8">
    <p class="title title__teams">{{ 'teams.title' | translate}}</p>

    <app-team class="team"
      *ngFor="let team of teams; let i = index"
      [teamInfo]="team"
      [index]="i">
    </app-team>
  </div>
</div>