<div class="teams">
  <div class="teams__actions">
    <button
      mat-mini-fab 
      color="primary" 
      class="btn btn__divide"
      (click)="onDivideTeams()"
      title="{{ 'teams.divide.two' | translate}}"
      *ngIf="selectedPlayers.length >= 12 && 
        nameClassTeams === 'three__teams'">
      ||
    </button>
    <button
      mat-mini-fab
      color="primary" 
      class="btn btn__divide"
      (click)="onDivideTeams()"
      title="{{ 'teams.divide.three' | translate}}"
      *ngIf="selectedPlayers.length >= 12 && 
        nameClassTeams === 'two__teams' || 
        nameClassTeams === 'four__teams'">
      |||
    </button>

    <button
      mat-button 
      color="primary" 
      class="btn btn__clear"
      (click)="deleteAllSelectedPlayers()"
      *ngIf="selectedPlayers && selectedPlayers.length > 0">
      {{ 'teams.clear' | translate}}
    </button>
  </div>
  <div class="message__block">
    <p class="massage massage__first" 
      *ngIf="selectedPlayers.length === 0">
      {{ 'teams.message.first' | translate}}
    </p>
    <p class="massage massage__second" 
      *ngIf="selectedPlayers.length >= 1 && selectedPlayers.length <= 7">
      {{ 'teams.message.second' | translate}}
    </p>
  </div>

  <div class="teams__block {{nameClassTeams}}"
    *ngIf="selectedPlayers.length >= 8">
    <p class="title title__teams">{{ 'teams.title' | translate}}</p>

    <!-- <app-team></app-team> -->

    <div class="team team__first">
      <div class="team__container">
        <p class="title title__team title__team-first">
          {{ 'team.title' | translate}} 1
        </p>
        <app-card *ngFor="let player of selectedPlayersData | async"
          [player]="player">
        </app-card>
      </div>
    </div>

    <div class="team team__second">
      <div class="team__container">
        <p class="title title__team title__team-second">
          {{ 'team.title' | translate}} 2
        </p>
        <app-card *ngFor="let player of selectedPlayersData | async"
          [player]="player">
        </app-card>
      </div>
    </div>

    <div class="team team__third"
      *ngIf="nameClassTeams === 'three__teams' || nameClassTeams === 'four__teams'">
      <div class="team__container">
        <p class="title title__team title__team-third">
          {{ 'team.title' | translate}} 3
        </p>
        <app-card *ngFor="let player of selectedPlayersData | async"
          [player]="player">
        </app-card>
      </div>
    </div>

    <div class="team team__fourth"
      *ngIf="nameClassTeams === 'four__teams'">
      <div class="team__container">
        <p class="title title__team title__team-fourth">
          {{ 'team.title' | translate}} 4
        </p>
        <app-card *ngFor="let player of selectedPlayersData | async"
          [player]="player">
        </app-card>
      </div>
    </div>
  </div>
</div>