
<div class="teams">
  <app-spinner *ngIf="searchState === 'SEARCH'"></app-spinner>

  <div class="info"
    *ngIf="searchState === 'READY' && !authService.userData && selectedPlayers.length <= 7">
    <p>{{ 'teams.info.title' | translate }}</p>
    <p>{{ 'teams.info.description' | translate }}</p>
  </div>

  <div class="teams__actions"
    *ngIf="authService.userData">
    <button
      mat-button
      type="button"
      color="primary" 
      class="btn btn__state"
      (click)="onEditTeams()"
      *ngIf="selectedPlayers?.length >= 1 && !editState">
      {{ 'teams.edit' | translate }}
    </button>
    <button
      mat-raised-button
      type="button"
      color="primary"
      class="btn btn__state"
      (click)="onSaveTeams()"
      *ngIf="selectedPlayers?.length >= 1 && editState">
      {{ 'teams.save' | translate }}
    </button>
    <button
      mat-mini-fab
      type="button"
      color="primary" 
      class="btn btn__divide"
      (click)="onDivideTeams(2)"
      title="{{ 'teams.divide.two' | translate }}"
      *ngIf="editState && selectedPlayers?.length >= 6 && numberOfTeams === 3 ||
             editState && selectedPlayers?.length >= 6 && numberOfTeams === 4">
      II
    </button>
    <button
      mat-mini-fab
      type="button"
      color="primary" 
      class="btn btn__divide"
      (click)="onDivideTeams(3)"
      title="{{ 'teams.divide.three' | translate }}"
      *ngIf="editState && selectedPlayers?.length >= 12 && numberOfTeams === 2 || 
             editState && selectedPlayers?.length >= 12 && numberOfTeams === 4">
      III
    </button>
    <button
      mat-mini-fab
      type="button"
      color="primary" 
      class="btn btn__divide"
      (click)="onDivideTeams(4)"
      title="{{ 'teams.divide.four' | translate }}"
      *ngIf="editState && selectedPlayers.length >= 12 && numberOfTeams === 2 || 
             editState && selectedPlayers.length >= 12 && numberOfTeams === 3">
      IV
    </button>

    <button
      mat-button
      type="button"
      color="primary" 
      class="btn btn__clear"
      (click)="deleteAllSelectedPlayers()"
      *ngIf="selectedPlayers?.length >= 1">
      {{ 'teams.clear' | translate }}
    </button>
  </div>

  <div class="message__block"
    *ngIf="searchState === 'READY' && authService.userData">
    <p class="message message__first" 
      *ngIf="selectedPlayers?.length === 0">
      {{ 'teams.message.first' | translate }}
    </p>
    <p class="message message__second" 
      *ngIf="selectedPlayers?.length >= 1 && selectedPlayers?.length <= 5">
      {{ 'teams.message.second' | translate }}
    </p>
    <p class="message message__third"
      *ngIf="selectedPlayers?.length >= 6">
      {{ 'teams.message.third' | translate }}
    </p>
  </div>

  <div class="teams__block" cdkDropListGroup 
    [cdkDropListGroupDisabled]="!editState"
    *ngIf="selectedPlayers.length >= 6">
    <ng-container  *ngFor="let team of teams; index as i">
      <app-team class="team"
        cdkDropList
        [cdkDropListData]="team"
        (cdkDropListDropped)="drop($event)"
        *ngIf="team.length >= 1"
        [team]="team"
        [editState]="editState"
        [indexTeam]="i"
        (addNewPlayer)="addNewPlayerTeam()"
        (selectListPlayer)="selectListPlayerTeam()">
      </app-team>
    </ng-container>
  </div>

  <p class="info__descr" *ngIf="selectedPlayers?.length >= 6 && editState">
    {{ 'teams.save.descr' | translate }}
  </p>

  <button
    mat-raised-button
    type="button"
    color="primary" 
    class="btn btn__generete"
    (click)="onGenereteTeams()"
    *ngIf="manualEditState && selectedPlayers.length >= 6">
    {{ 'teams.generete' | translate }}
  </button>

  <div class="share__block"
    *ngIf="selectedPlayers.length >= 6 && !editState">
    <p>{{ 'teams.share' | translate }}</p>
    <share-buttons [theme]="'circles-dark'"
      [include]="['viber','telegram','facebook','twitter','linkedin','messenger','whatsapp','sms','email','copy','print']"
      [show]="2"
      [size]="1"
      [url]="currentUrl"
      [autoSetMeta]="false"
    ></share-buttons>
  </div>
</div>