.teams {
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p {
      text-align: center;

      &:first-child {
        color: #3f51b5;
      }
      &:last-child{
        font-size: 12px;
      }
    }
  }

  .teams__actions {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .btn__state {
      margin-right: auto;
      border-radius: 18px;
    }

    .btn__divide {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin: 0 10px;
    }
    ::ng-deep .mat-mini-fab .mat-button-wrapper {
      padding: 0;
    }

    .btn__clear {
      margin-left: auto;
      border-radius: 18px;
    }
  }

  .message__block {
    text-align: center;
    margin-bottom: 30px;

    .massage__first,
    .massage__second {
      color: #3f51b5;
    }
  }
  
  .teams__block {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .team {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      max-width: 150px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .btn__generete {
    align-self: center;
  }

  .share__block {
    text-align: center;
  }
}