<div class="team__container">
  <p class="title title__team">
    <span>{{ 'team.title' | translate}}</span> <span> {{ indexTeam+1 }}</span>
  </p>
  <p class="title title__level">
    {{ countLevelTeam() }}
  </p>
  <app-card *ngFor="let player of team"
    class="card {{player.position}}"
    [ngClass]="{'edit': editState}"       
    [player]="player"
    [indexTeam]="indexTeam"
    [editState]="editState"
    cdkDrag>
    <div class="custom__placeholder" *cdkDragPlaceholder></div>
  </app-card>

  <div class="btn__menu" *ngIf="editState">
    <button mat-button
      class="btn btn__add"
      [matMenuTriggerFor]="menu"
      title="{{ 'team.add.title' | translate}}">
      <mat-icon color="primary">add_circle_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onAddNewPlayer()">
        {{ 'team.add.new' | translate}}
      </button>
      <button mat-menu-item (click)="onSelectListPlayer()">
        {{ 'team.add.list' | translate}}
      </button>
    </mat-menu>
  </div>
</div>
