.btn__arrow {
  position: absolute;
  top: 0;
  left: 0;
}
.btn__add {
  margin: 0 10px 10px;
}
.table__wrapper {
  overflow: scroll;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);

  table {
    width: 100%;
    min-width: 800px;
  }
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 10px !important;
  width: 80px;
  padding-right: 10px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}
.btn__delete {
  &:hover svg {
    fill: #3f51b5;
  }
  svg {
    fill: #ccc;
  }
  
}
::ng-deep {
  .btn__delete {
    .mat-button-focus-overlay {
      background: none;
    }
  }
}
.btn__delete.mat-button-disabled svg {
  fill: #f5f5f5;
}
.btn__delete.mat-button-disabled:hover svg {
  fill: #f5f5f5;
}
.btn__chenge:hover {
  background: #f5f5f5;
}
.btn__chenge.mat-button-disabled:hover {
  background: transparent;
}
.btn__chenge.mat-button-disabled .material-icons {
  color: #f5f5f5;
}
