<div class="app">
  <header class="header">
    <div class="logo" (click)="navigateMainPage()">
      <img src="favicon.ico" alt="logo">
      <div>
        <p>TeamS</p>
        <span>service</span>
      </div>
    </div>

    <nav mat-tab-nav-bar
      *ngIf="authService.admin"
      class="nav">
      <a mat-tab-link
        class="tab"
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [active]="rla.isActive"
        queryParamsHandling="merge">
        {{ 'tab.' + link.label | translate}}
      </a>
    </nav>
    <app-auth></app-auth>
  </header>

  <router-outlet></router-outlet>
  <app-languages></app-languages>
  <button class="btn btn__top"
    *ngIf="isShowBtnTop" 
    (click)="scrollToTop()">
  </button>
</div>
