:host {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
  max-width: 800px;
  padding: 50px 50px;
}

@media screen and (max-width: 560px) {
  .app {
    width: calc(100% - 40px);
    padding: 40px 20px;
  }
}

