<div class="main__select">
  <label class="selected__label"
    [ngClass]="{'top': openedOrClosedSelect || 
      playersCtrl.value && playersCtrl.value.length > 0}">
      {{ 'select.lable' | translate}}
  </label>
  <div class="selected__players"
    *ngIf="playersCtrl.value && playersCtrl.value.length > 0"
    [ngClass]="{'top': openedOrClosedSelect}">
    <span>({{playersCtrl.value.length || null}})</span>
    <span *ngFor="let player of playersCtrl?.value">
      {{player.name}}
      <span>, </span>
    </span>
  </div>
  <mat-form-field>
    <mat-select
      [formControl]="playersCtrl"
      [multiple]="true"
      (valueChange)="onSelectedPlayers($event)"
      (openedChange)="openedChangeSelect($event)"
      panelClass="example-long-panel"
      #multiSelect>
      <button mat-icon-button class="btn btn__home" (click)="onCloseOptions()">
        <mat-icon color="primary">home</mat-icon>
      </button>
      <mat-option>
        <ngx-mat-select-search 
          [formControl]="playersFilterCtrl"
          placeholderLabel="{{ 'select.placeholder' | translate}}"
          noEntriesFoundLabel="{{ 'select.no.found.label' | translate}}"
          disableInitialFocus="false"
          preventHomeEndKeyPropagation="false">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option 
        *ngFor="let player of filteredPlayers | async"
        [value]="player">
        <app-avatar 
          class="avatar__min" 
          [player]="player">
        </app-avatar> 
        {{player.name}} {{player.surname}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>