:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 15px;

  app-avatar {
    pointer-events: none;
    margin-bottom: 5px;
  }
  .player__info {
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn__delete {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 24px;
    height: 24px;
    line-height: 24px;

    &:hover {
      background: #fff;
    }
    .mat-icon {
      font-size: 18px;
    }
  }
}