<form class="form" 
  [formGroup]="playerGroup"
  (ngSubmit)="onFormSubmit()">
  <div class="form__block form__block_ans">
    <div class="field field__avatar">
      <div class="avatar">
        <input
          class="input__avatar"
          type="file"
          (change)="onFileSelected($event)"
          title="{{ 'form.avatar.upload' | translate}}">
        <button 
          mat-icon-button 
          class="btn btn__avatar" 
          type="button"
          title="{{ 'form.avatar.edit' | translate}}">
          <mat-icon color="primary">camera_alt</mat-icon>
        </button>
        <img class="img img__avatar" [src]="fileUrl | async" alt="">
      </div>
    </div>
    <div class="name__info_block">
      <mat-form-field class="field field__name">
        <mat-label>{{ 'form.name.lable' | translate}}</mat-label>
        <input matInput placeholder="{{ 'form.name.placeholder' | translate}}" formControlName="name" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="field field__surname">
        <mat-label>{{ 'form.surname.lable' | translate}}</mat-label>
        <input matInput placeholder="{{ 'form.surname.placeholder' | translate}}" formControlName="surname" autocomplete="off">
      </mat-form-field>
    </div>
  </div>
  <div class="form__block form__block_ps">
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>{{ 'form.power.lable' | translate}}</mat-label>
      <mat-select formControlName="power">
        <mat-option *ngFor="let power of powers" [value]="power.value">
          {{ 'form.power.' + power.value | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>{{ 'form.status.lable' | translate}}</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{ 'form.status.' + status.value | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form__block form__block_p">
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>{{ 'form.position.lable' | translate}}</mat-label>
      <mat-select formControlName="position">
        <mat-option *ngFor="let position of positions" [value]="position.value">
          {{ 'form.position.' + position.value | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form__block form__block_ad">
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>{{ 'form.attack' | translate}}</mat-label>
      <mat-select formControlName="attack">
        <mat-option *ngFor="let point of points" [value]="point.value">
          {{ point.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>{{ 'form.defense' | translate}}</mat-label>
      <mat-select formControlName="defense">
        <mat-option *ngFor="let point of points" [value]="point.value">
          {{ point.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form__block form__block_ac">
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>{{ 'form.accuracy' | translate}}</mat-label>
      <mat-select formControlName="accuracy">
        <mat-option *ngFor="let point of points" [value]="point.value">
          {{ point.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field field__cc">
      <mat-label>{{ 'form.cc.lable' | translate}}</mat-label>
      <input matInput type="number" placeholder="{{ 'form.cc.placeholder' | translate}}" formControlName="cc" autocomplete="off">
    </mat-form-field>
  </div>

  <div class="form__block form__block_actions">
    <button mat-raised-button class="btn btn__save" color="primary" type="submit" [disabled]="!filledFields">
      {{ 'form.actions.save' | translate}}
    </button>
    <button mat-raised-button class="btn btn__cancel" color="primary" type="button" (click)="cancelForm()">
      {{ 'form.actions.cancel' | translate}}
    </button>
  </div>
</form>