<form class="form" 
  [formGroup]="playerGroup"
  (ngSubmit)="onFormSubmit()">
  <div class="form__block form__block_ans">
    <mat-form-field class="field field__avatar">
      <div class="avatar">
        <img class="img img__avatar" src="" alt="">
        <input matInput class="input__avatar" formControlName="name">
        <button 
          mat-icon-button 
          class="btn btn__avatar" 
          type="button"
          (click)="uploadAvatar()"
          title="Изменить фото профиля">
          <mat-icon color="primary">camera_alt</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <div class="name__info_block">
      <mat-form-field class="field field__name">
        <mat-label>Имя</mat-label>
        <input matInput placeholder="Введите имя" formControlName="name" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="field field__surname">
        <mat-label>Фамилия</mat-label>
        <input matInput placeholder="Введите фамилию" formControlName="surname" autocomplete="off">
      </mat-form-field>
    </div>
  </div>
  <div class="form__block form__block_ps">
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>Супер сила</mat-label>
      <mat-select formControlName="power">
        <mat-option *ngFor="let power of powers" [value]="power.viewValue">
          {{ power.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>Статус</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.viewValue">
          {{ status.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form__block form__block_p">
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>Позиция</mat-label>
      <mat-select formControlName="position">
        <mat-option *ngFor="let position of positions" [value]="position.viewValue">
          {{ position.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form__block form__block_ad">
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>Атака</mat-label>
      <mat-select formControlName="attack">
        <mat-option *ngFor="let point of points" [value]="point.value">
          {{ point.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>Защита</mat-label>
      <mat-select formControlName="defense">
        <mat-option *ngFor="let point of points" [value]="point.value">
          {{ point.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form__block form__block_ac">
    <mat-form-field appearance="fill" class="field field__select">
      <mat-label>Меткость</mat-label>
      <mat-select formControlName="accuracy">
        <mat-option *ngFor="let point of points" [value]="point.value">
          {{ point.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field field__cc">
      <mat-label>КК</mat-label>
      <input matInput type="number" placeholder="Введите номер" formControlName="cc" autocomplete="off">
    </mat-form-field>
  </div>

  <div class="form__block form__block_actions">
    <button mat-raised-button class="btn btn__save" color="primary" type="submit" [disabled]="!filledFields">
      Сохранить
    </button>
    <button mat-raised-button class="btn btn__cancel" color="primary" type="button" (click)="cancelForm()">
      Отмена
    </button>
  </div>
</form>