@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~ngx-sharebuttons/themes/circles/circles-dark-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ngx-mat-select-search {
  .mat-select-search-input.mat-input-element {
    padding: 16px 40px;
  }
  .mat-icon-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

app-select .mat-select-value {
  color: transparent;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

mat-option .mat-option-text {
  display: flex !important;
  align-items: center;
}

.avatar__min .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.avatar__max .avatar {
  width: 60px;
  height: 60px;
  border-radius: 25%;
}

.disabled__scroll {
  overflow: hidden;
}

.team:first-child:nth-last-child(2),
.team:first-child:nth-last-child(2) ~ .team {
  width: calc(50% - 10px);
  margin-right: 20px;
}

.team:first-child:nth-last-child(3),
.team:first-child:nth-last-child(3) ~ .team {
  width: calc(33.3333% - 13px);
  margin-right: 20px;
}

.team:first-child:nth-last-child(4),
.team:first-child:nth-last-child(4) ~ .team {
  width: calc(25% - 15px);
  margin-right: 20px;
}

@media screen and (max-width: 760px) {
  .team:first-child:nth-last-child(4),
  .team:first-child:nth-last-child(4) ~ .team {
    .avatar__max .avatar {
      width: 50px;
      height: 50px;
    }
    .player__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: normal;
    }
    .title.title__team {
      left: calc(50% - 15px);
      width: 30px;
    }
    .title__team span:first-child {
      display: none;
    }
  }
}
@media screen and (max-width: 530px) {
  .team:first-child:nth-last-child(2),
  .team:first-child:nth-last-child(2) ~ .team {
    width: calc(50% - 5px);
    margin-right: 10px;
  }

  .team:first-child:nth-last-child(3),
  .team:first-child:nth-last-child(3) ~ .team {
    width: calc(33.3333% - 7px);
    margin-right: 10px;
    .avatar__max .avatar {
      width: 50px;
      height: 50px;
    }
    .player__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: normal;
    }
    .title.title__team {
      left: calc(50% - 15px);
      width: 30px;
    }
    .title__team span:first-child {
      display: none;
    }
  }

  .team:first-child:nth-last-child(4),
  .team:first-child:nth-last-child(4) ~ .team {
    width: calc(25% - 8px);
    margin-right: 10px;
  }
}
@media screen and (max-width: 445px) {
  .team:first-child:nth-last-child(4),
  .team:first-child:nth-last-child(4) ~ .team {
    .avatar__max .avatar {
      width: 40px;
      height: 40px;
    }
    .player__info {
      font-size: 12px;
      line-height: 16px;
      & span:last-child {
        display: none;
      }
    }
    .btn__delete {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 18px;
      height: 18px;
      line-height: 18px;

      mat-icon.mat-icon {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 385px) {
  .app .mat-tab-link {
    font-size: 12px;
    min-width: 65px;
  }
}