html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ngx-mat-select-search {
  .mat-select-search-input.mat-input-element {
    padding: 16px 40px;
  }
  .mat-icon-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}

.mat-select-value {
  color: transparent;
}